<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.kanata.kanata</string>
    <key>ProgramArguments</key>
    <array>
        <string>__KANATA_EXECUTABLE__</string>
        <string>--cfg</string>
        <string>__KANATA_CONFIG__</string>
        <string>--no-wait</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
