/*

!/.gitignore
!/README.md
!/LICENSE
!/nvim
/nvim/autoload
/nvim/plugged
!/dwm
!/ranger
/ranger/__pycache__
/ranger/plugins/__pycache__
/ranger/*/*.pyo
/ranger/*.pyo
!/dunst
!/fish
!/polybar
!/i3
!/vimium
