[Desktop Entry]
Comment=Use WPS Writer to office work.
Exec=/usr/bin/wps %F
GenericName=WPS
Name=WPS 2019
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office2019-kprometheus
InitialPreference=3
StartupWMClass=wpsoffice
X-XFCE-Source=file:///usr/share/applications/wps-office-prometheus.desktop
