[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uniqueding/Desktop/flv]
row=0
col=1

[/home/uniqueding/Desktop/awtrix.osp]
row=4
col=1

[/home/uniqueding/Desktop/chat]
row=5
col=1

[/home/uniqueding/Desktop/awtrix_assets]
row=3
col=1

[/home/uniqueding/Desktop/V00713-135450.mp4]
row=1
col=1

[/home/uniqueding/Desktop/awtrix.mp4]
row=2
col=1

[000FCFF10008807B]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/uniqueding]
row=3
col=0

