[Unit]
Description=Kanata keyboard remapper

[Service]
Type=simple
User=__KANATA_USER__
Group=__KANATA_USER__
SupplementaryGroups=input uinput
ExecStart=__KANATA_EXECUTABLE__ --cfg /etc/kanata/kanata.kbd --no-wait
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
